@import "tailwindcss";

/* Tell Tailwind v4 that our default sans font is Poppins */
@theme {
  --font-sans: "Poppins", ui-sans-serif, system-ui, -apple-system, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", sans-serif;
}
/* Tailwind v4 custom utility */
@utility no-scrollbar {
  -ms-overflow-style: none;     /* IE/Edge */
  scrollbar-width: none;        /* Firefox */
  &::-webkit-scrollbar { 
    display: none;              /* Chrome/Safari */
  }
}